<div class="container">
    <div class="signup">
    <p class="signup__title">Регистрация</p>
    <form action="/register">
        <div class="signup__group">
            <label class="signup__group__label">{{emailField}}</label>
            <input class="signup__group__input" type="email" name="email">
        </div>
        <div class="signup__group">
            <label class="signup__group__label">{{loginField}}</label>
            <input class="signup__group__input" type="text" name="login">
        </div>
        <div class="signup__group">
            <label class="signup__group__label">{{first_nameField}}</label>
            <input class="signup__group__input" type="text" name="first_name">
        </div>
        <div class="signup__group">
            <label class="signup__group__label">{{second_nameField}}</label>
            <input class="signup__group__input" type="text" name="second_name">
        </div>
        <div class="signup__group">
            <label class="signup__group__label">{{phoneField}}</label>
            <input class="signup__group__input" type="number" name="phone">
        </div>
        <div class="signup__group">
            <label class="signup__group__label">{{passwordField}}</label>
            <input class="signup__group__input" type="password" name="password">
        </div>
        <div class="signup__group">
            <label class="signup__group__label">{{repeat_passwordField}}</label>
            <input class="signup__group__input" type="password" name="repeat_password">
        </div>
        <div class="signup__button">
            <button onclick="document.location='./signin'" type="button" class="signup__button__blue">{{butonsigninField}}</button>
            <button onclick="document.location='./chat'" type="button" class="signup__button__white">{{butonsignupField}}</button>
        </div>
    </form>
    </div>
</div>